@import '../../styles/variables.css';

.ExampleComponent {
  position: relative;
  top: 0;
  width: calc(var(--baseline) / 3);
  height: calc(var(--baseline) * 1.5);

  background: white;

  cursor: pointer;

  transition-property: top;
  transition-duration: 0.2s;
}
  .ExampleComponent__is_collected {
    background: var(--colorAccent1);
  }
  .ExampleComponent__is_highlighted {
    top: -3px;
  }
  .ExampleComponent__is_highlightedAdjacent {
    top: -1px;
  }
