@import '../../styles/variables.css';

.HistoryDetailsComponent {
  width: 100%;
  padding: calc(var(--baseline)) 0;
  overflow: auto;

  background: var(--colorBgXDark);

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;

    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear
  }

  &__imgWrapper {
    max-height: 200px;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 200px;
    border: 5px solid transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
    &__image_is_collected {
      border-color: var(--colorAccent1);
    }
}
