@import '../../styles/variables.css';

.PopupExample {
  width: calc(var(--baseline) * 15);
  height: calc(var(--baseline) * 15);

  overflow: hidden;

  border: 5px solid white;
  background-position: top left;
  background-size: 100% auto;

  opacity: 0.3;
}
  .PopupExample__is_collected {
    border-color: var(--colorAccent1);
    opacity: 1;
  }
