@import '../../styles/variables.css';

.AppComponent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-content: stretch;

  &__header {
    padding:  calc(var(--baseline) * 1)
              calc(var(--baseline) * 2)
              calc(var(--baseline) * 1)
              calc(var(--baseline) * 2);

    border-bottom: 1px solid var(--colorBorder);
  }

  &__summary {
    padding:  calc(var(--baseline) * 1)
              calc(var(--baseline) * 2)
              calc(var(--baseline) * 1)
              calc(var(--baseline) * 2);

    border-bottom: 1px solid var(--colorBorder);
  }

  &__history {
    flex: 1;
    overflow-x: auto;
  }
}
