@import '../../styles/variables.css';

.Keyword {
  position: relative;

  padding: calc(var(--baseline) / 2);
  margin-left: -calc(var(--baseline) / 2);
  cursor: pointer;

  transition-property: background;
  transition-duration: 0.2s;
}
  .Keyword_isFocused {
    background-color: color(var(--colorAccent2) alpha(-70%));

    &:after {
      content:'\00D7';
      position: absolute;
      top: 0;
      right: var(--baseline);
      display: block;

      font-weight: 600;
      line-height: calc(var(--fontSizeMed) * 2.4);
    }
  }
