:root {
  --baseline: 0.75rem;

  --fontFamily: 'Open Sans', sans-serif;
  --fontSizeSmall: 0.750rem;
  --fontSizeMed: 0.875rem;
  --fontSizeLarge: 1rem;

  --colorText1: #142737;
  --colorText2: #848484;

  --colorBorder:    #C3C9CD;

  --colorAccent1: #407BAC;
  --colorAccent2: #D6934B;
  --colorError:   #E46868;
  --colorSuccess: #6EB96F;
}
