:root {
  --baseline: 0.75rem;

  --fontFamily: 'Open Sans', sans-serif;
  --fontSizeSmall: 0.750rem;
  --fontSizeMed: 0.875rem;
  --fontSizeLarge: 1.250rem;
  --fontSizeDefault: var(--fontSizeMed);

  --colorTextLight: white;
  --colorTextMed:   #CECECE;
  --colorTextDark:  #8C8D8E;

  --colorBorder:    #848586;

  --colorBgXDark: #1d1e1f;
  --colorBgDark: #3C3E3F;

  --colorAccent1: #68a1e4;
  --colorAccent2: #00FFFE;
  --colorError:   #E46868;
  --colorSuccess: #6EB96F;
}
