@import '../../styles/variables.css';

.App {
  height: 100%;
  display: flex;
  align-items: stretch;

  &__main {
    flex: 1;
    overflow: auto;
  }
}

.AppSidebar {
  display: flex;
  flex-flow: column;
  justify-items: stretch;
  width: calc(var(--baseline) * 25);

  &__header {
    /**/
  }

  &__body {
    flex: 1;
    overflow: auto;
  }
}
