@import '../../styles/variables.css';

.App {
  height: 100%;
  display: flex;
  align-items: stretch;

  &__main {
    flex: 1;
    overflow: auto;
    position: relative;
  }
}

.AppSidebar {
  width: calc(var(--baseline) * 32);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &__heading {
    padding: 0 calc(var(--baseline) * 1);
  }

  &__section {
    padding: calc(var(--baseline) * 0) calc(var(--baseline) * 2.5);
  }

  &__section_full {
    flex: 1;
    overflow: auto;
  }
}
