@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);.App__App___lBEXI {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch
}

.App__App__main___2VZji {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto
}

.App__AppSidebar___wXvF4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-grid-column-align: stretch;
      justify-items: stretch;
  width: 300px;
  width: 18.75rem
}

.App__AppSidebar__header___2WtqC {
  /**/
}

.App__AppSidebar__body___ZdyV_ {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto
}

.App__AppSidebar__title___12hSB {
  padding: 24px
              24px
              12px
              24px;
  padding: 1.5rem
              1.5rem
              0.75rem
              1.5rem
}
.TaskDescription__TaskDescription___1tOK9 {
  padding: 0
            24px;
  padding: 0
            1.5rem;
  text-align: justify;
  position: relative
}
.TaskDescription__TaskDescription__main___M3NIN {
  /**/
}
.TaskDescription__TaskDescription__query___1h2qO {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  color: transparent
}
.TaskDescription__TaskDescription__query___1h2qO em {
  font-style: normal
}
.QueryList__QueryList___2HcgL {
  padding: 0 24px;
  padding: 0 1.5rem;
}
.Query__Query___32yVP {
  position: relative;

  padding: 6px;
  padding: 0.375rem;
  margin-left: -6px;
  margin-left: -0.375rem;
  cursor: pointer;

  -webkit-transition-property: background;

  transition-property: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.Query__Query_isFocused___3Yu6Z {
  }

.Query__Query_isFocused___3Yu6Z:after {
  content: '\D7';
  position: absolute;
  top: 0;
  right: 12px;
  right: 0.75rem;
  display: block;
  font-weight: 600;
  line-height: 33.6px;
  line-height: 2.1rem;
}
.KeywordList__KeywordList___E6go7 {
  padding: 0 24px;
  padding: 0 1.5rem;
}
.Keyword__Keyword___2EkSY {
  position: relative;

  padding: 6px;
  padding: 0.375rem;
  margin-left: -6px;
  margin-left: -0.375rem;
  cursor: pointer;

  -webkit-transition-property: background;

  transition-property: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.Keyword__Keyword_isFocused___w0MRS {
    background-color: rgba(0, 255, 254, 0.30000000000000004)
  }

.Keyword__Keyword_isFocused___w0MRS:after {
  content: '\D7';
  position: absolute;
  top: 0;
  right: 12px;
  right: 0.75rem;
  display: block;
  font-weight: 600;
  line-height: 33.6px;
  line-height: 2.1rem;
}
.ExampleList__ExampleList___74Jc3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch
}
.ExampleList__ExampleList__column___3FzkW {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch
}
.ExampleList__ExampleList__example___3ejL_ {
  /**/
}
.Example__Example___27S0i {
  position: relative;
  padding: 18px
            18px
            18px
            18px;
  padding: 1.125rem
            1.125rem
            1.125rem
            1.125rem;

  -webkit-transition-property: background-color;

  transition-property: background-color;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s
}

.Example__Example__imageWrapper___1L-z5 {
  max-height: 336px;
  max-height: 21rem;
  overflow: hidden;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s
}

.Example__Example__image___3Yd61 {
  display: block;
  max-width: 100%;
  cursor: pointer
}

.Example__Example__description___1RWhr {
  padding: 3px 12px;
  padding: 0.1875rem 0.75rem;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 12px;
  font-size: 0.750rem
}

.Example__Example_compact___2kYfJ {
    padding: 12px
              12px
              12px
              12px;
    padding: 0.75rem
              0.75rem
              0.75rem
              0.75rem
  }

.Example__Example_compact___2kYfJ .Example__Example__imageWrapper___1L-z5 {
  max-height: 180px;
  max-height: 11.25rem
}
.KeywordView__KeywordView___23OIE {
  /**/
}

.KeywordExampleList__KeywordExampleList___1E_11 {
  background: rgba(132, 133, 134, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.KeywordExampleList__KeywordExampleList__keyword___3mv7N {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600
}
.KeywordExampleList__KeywordExampleList__examples___2Qbfq {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7
}
.QueryView__QueryView___3aonz {
  padding: 24px;
  padding: 1.5rem;
}
.Title__Title___17BuK {
  font-weight: 600;

  text-transform: uppercase;
  color: #69A3DE;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}
input,
textarea,
button {
  font: inherit;
  line-height: inherit;

  color: inherit;

  border: none;
  background: none;
}
button {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font: inherit;
  line-height: inherit;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiaW5kZXguY3NzIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vLy8uL3NyYy9jb21wb25lbnRzL0FwcC9BcHAuY3NzIiwid2VicGFjazovLy8vLi9zcmMvY29tcG9uZW50cy9UYXNrRGVzY3JpcHRpb24vVGFza0Rlc2NyaXB0aW9uLmNzcyIsIndlYnBhY2s6Ly8vLy4vc3JjL2NvbXBvbmVudHMvUXVlcnlMaXN0L1F1ZXJ5TGlzdC5jc3MiLCJ3ZWJwYWNrOi8vLy8uL3NyYy9jb21wb25lbnRzL1F1ZXJ5L1F1ZXJ5LmNzcyIsIndlYnBhY2s6Ly8vLy4vc3JjL2NvbXBvbmVudHMvS2V5d29yZExpc3QvS2V5d29yZExpc3QuY3NzIiwid2VicGFjazovLy8vLi9zcmMvY29tcG9uZW50cy9LZXl3b3JkL0tleXdvcmQuY3NzIiwid2VicGFjazovLy8vLi9zcmMvY29tcG9uZW50cy9FeGFtcGxlTGlzdC9FeGFtcGxlTGlzdC5jc3MiLCJ3ZWJwYWNrOi8vLy8uL3NyYy9jb21wb25lbnRzL0V4YW1wbGUvRXhhbXBsZS5jc3MiLCJ3ZWJwYWNrOi8vLy8uL3NyYy9jb21wb25lbnRzL0tleXdvcmRWaWV3L0tleXdvcmRWaWV3LmNzcyIsIndlYnBhY2s6Ly8vLy4vc3JjL2NvbXBvbmVudHMvS2V5d29yZEV4YW1wbGVMaXN0L0tleXdvcmRFeGFtcGxlTGlzdC5jc3MiLCJ3ZWJwYWNrOi8vLy8uL3NyYy9jb21wb25lbnRzL1F1ZXJ5Vmlldy9RdWVyeVZpZXcuY3NzIiwid2VicGFjazovLy8vLi9zcmMvY29tcG9uZW50cy9UaXRsZS9UaXRsZS5jc3MiLCJ3ZWJwYWNrOi8vLy8uL3NyYy9zdHlsZXMvcmVzZXQuY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgJy4uLy4uL3N0eWxlcy92YXJpYWJsZXMuY3NzJztcblxuLkFwcCB7XG4gIGhlaWdodDogMTAwJTtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IHN0cmV0Y2g7XG5cbiAgJl9fbWFpbiB7XG4gICAgZmxleDogMTtcbiAgICBvdmVyZmxvdzogYXV0bztcbiAgfVxufVxuXG4uQXBwU2lkZWJhciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZmxvdzogY29sdW1uO1xuICBqdXN0aWZ5LWl0ZW1zOiBzdHJldGNoO1xuICB3aWR0aDogY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAyNSk7XG5cbiAgJl9faGVhZGVyIHtcbiAgICAvKiovXG4gIH1cblxuICAmX19ib2R5IHtcbiAgICBmbGV4OiAxO1xuICAgIG92ZXJmbG93OiBhdXRvO1xuICB9XG5cbiAgJl9fdGl0bGUge1xuICAgIHBhZGRpbmc6ICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDIpXG4gICAgICAgICAgICAgIGNhbGModmFyKC0tYmFzZWxpbmUpICogMilcbiAgICAgICAgICAgICAgY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAxKVxuICAgICAgICAgICAgICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDIpO1xuICB9XG59XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvY29tcG9uZW50cy9BcHAvQXBwLmNzc1xuICoqLyIsIkBpbXBvcnQgJy4uLy4uL3N0eWxlcy92YXJpYWJsZXMuY3NzJztcblxuLlRhc2tEZXNjcmlwdGlvbiB7XG4gIHBhZGRpbmc6ICAwXG4gICAgICAgICAgICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDIpO1xuICB0ZXh0LWFsaWduOiBqdXN0aWZ5O1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cblxuICAmX19tYWluIHtcbiAgICAvKiovXG4gIH1cblxuICAmX19xdWVyeSB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHotaW5kZXg6IDA7XG4gICAgdG9wOiAwOyBsZWZ0OiAwO1xuICAgIGNvbG9yOiB0cmFuc3BhcmVudDtcblxuICAgICYgZW0ge1xuICAgICAgZm9udC1zdHlsZTogbm9ybWFsO1xuICAgIH1cbiAgfVxufVxuXG5cblxuLyoqIFdFQlBBQ0sgRk9PVEVSICoqXG4gKiogLy4vc3JjL2NvbXBvbmVudHMvVGFza0Rlc2NyaXB0aW9uL1Rhc2tEZXNjcmlwdGlvbi5jc3NcbiAqKi8iLCJAaW1wb3J0ICcuLi8uLi9zdHlsZXMvdmFyaWFibGVzLmNzcyc7XG5cbi5RdWVyeUxpc3Qge1xuICBwYWRkaW5nOiAwIGNhbGModmFyKC0tYmFzZWxpbmUpICogMik7XG59XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvY29tcG9uZW50cy9RdWVyeUxpc3QvUXVlcnlMaXN0LmNzc1xuICoqLyIsIkBpbXBvcnQgJy4uLy4uL3N0eWxlcy92YXJpYWJsZXMuY3NzJztcblxuLlF1ZXJ5IHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gIHBhZGRpbmc6IGNhbGModmFyKC0tYmFzZWxpbmUpIC8gMik7XG4gIG1hcmdpbi1sZWZ0OiAtY2FsYyh2YXIoLS1iYXNlbGluZSkgLyAyKTtcbiAgY3Vyc29yOiBwb2ludGVyO1xuXG4gIHRyYW5zaXRpb24tcHJvcGVydHk6IGJhY2tncm91bmQ7XG4gIHRyYW5zaXRpb24tZHVyYXRpb246IDAuMnM7XG59XG4gIC5RdWVyeV9pc0ZvY3VzZWQge1xuICAgICY6YWZ0ZXIge1xuICAgICAgY29udGVudDonXFwwMEQ3JztcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIHRvcDogMDtcbiAgICAgIHJpZ2h0OiB2YXIoLS1iYXNlbGluZSk7XG4gICAgICBkaXNwbGF5OiBibG9jaztcblxuICAgICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICAgIGxpbmUtaGVpZ2h0OiBjYWxjKHZhcigtLWZvbnRTaXplTWVkKSAqIDIuNCk7XG4gICAgfVxuICB9XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvY29tcG9uZW50cy9RdWVyeS9RdWVyeS5jc3NcbiAqKi8iLCJAaW1wb3J0ICcuLi8uLi9zdHlsZXMvdmFyaWFibGVzLmNzcyc7XG5cbi5LZXl3b3JkTGlzdCB7XG4gIHBhZGRpbmc6IDAgY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAyKTtcbn1cblxuXG5cbi8qKiBXRUJQQUNLIEZPT1RFUiAqKlxuICoqIC8uL3NyYy9jb21wb25lbnRzL0tleXdvcmRMaXN0L0tleXdvcmRMaXN0LmNzc1xuICoqLyIsIkBpbXBvcnQgJy4uLy4uL3N0eWxlcy92YXJpYWJsZXMuY3NzJztcblxuLktleXdvcmQge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG5cbiAgcGFkZGluZzogY2FsYyh2YXIoLS1iYXNlbGluZSkgLyAyKTtcbiAgbWFyZ2luLWxlZnQ6IC1jYWxjKHZhcigtLWJhc2VsaW5lKSAvIDIpO1xuICBjdXJzb3I6IHBvaW50ZXI7XG5cbiAgdHJhbnNpdGlvbi1wcm9wZXJ0eTogYmFja2dyb3VuZDtcbiAgdHJhbnNpdGlvbi1kdXJhdGlvbjogMC4ycztcbn1cbiAgLktleXdvcmRfaXNGb2N1c2VkIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBjb2xvcih2YXIoLS1jb2xvckFjY2VudDIpIGFscGhhKC03MCUpKTtcblxuICAgICY6YWZ0ZXIge1xuICAgICAgY29udGVudDonXFwwMEQ3JztcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIHRvcDogMDtcbiAgICAgIHJpZ2h0OiB2YXIoLS1iYXNlbGluZSk7XG4gICAgICBkaXNwbGF5OiBibG9jaztcblxuICAgICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICAgIGxpbmUtaGVpZ2h0OiBjYWxjKHZhcigtLWZvbnRTaXplTWVkKSAqIDIuNCk7XG4gICAgfVxuICB9XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvY29tcG9uZW50cy9LZXl3b3JkL0tleXdvcmQuY3NzXG4gKiovIiwiQGltcG9ydCAnLi4vLi4vc3R5bGVzL3ZhcmlhYmxlcy5jc3MnO1xuXG4uRXhhbXBsZUxpc3Qge1xuICB3aWR0aDogMTAwJTtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1mbG93OiByb3c7XG4gIGp1c3RpZnktY29udGVudDogc3RyZXRjaDtcblxuICAmX19jb2x1bW4ge1xuICAgIGZsZXg6IDE7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWZsb3c6IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHN0cmV0Y2g7XG4gIH1cblxuICAmX19leGFtcGxlIHtcbiAgICAvKiovXG4gIH1cbn1cblxuXG5cbi8qKiBXRUJQQUNLIEZPT1RFUiAqKlxuICoqIC8uL3NyYy9jb21wb25lbnRzL0V4YW1wbGVMaXN0L0V4YW1wbGVMaXN0LmNzc1xuICoqLyIsIkBpbXBvcnQgJy4uLy4uL3N0eWxlcy92YXJpYWJsZXMuY3NzJztcblxuLkV4YW1wbGUge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBhZGRpbmc6ICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDEuNSlcbiAgICAgICAgICAgIGNhbGModmFyKC0tYmFzZWxpbmUpICogMS41KVxuICAgICAgICAgICAgY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAxLjUpXG4gICAgICAgICAgICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDEuNSk7XG5cbiAgdHJhbnNpdGlvbi1wcm9wZXJ0eTogYmFja2dyb3VuZC1jb2xvcjtcbiAgdHJhbnNpdGlvbi1kdXJhdGlvbjogMC4xcztcblxuICAmX19pbWFnZVdyYXBwZXIge1xuICAgIG1heC1oZWlnaHQ6IGNhbGModmFyKC0tYmFzZWxpbmUpICogMjgpO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG5cbiAgICB0cmFuc2l0aW9uLXByb3BlcnR5OiBvcGFjaXR5O1xuICAgIHRyYW5zaXRpb24tZHVyYXRpb246IDAuMXM7XG4gIH1cblxuICAmX19pbWFnZSB7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgbWF4LXdpZHRoOiAxMDAlO1xuXG4gICAgY3Vyc29yOiBwb2ludGVyO1xuICB9XG5cbiAgJl9fZGVzY3JpcHRpb24ge1xuICAgIHBhZGRpbmc6IGNhbGModmFyKC0tYmFzZWxpbmUpIC8gNCkgY2FsYyh2YXIoLS1iYXNlbGluZSkpO1xuICAgIGJhY2tncm91bmQ6IGNvbG9yKGJsYWNrKTtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgZm9udC1zaXplOiB2YXIoLS1mb250U2l6ZVNtYWxsKTtcbiAgfVxufVxuICAuRXhhbXBsZV9jb21wYWN0IHtcbiAgICBwYWRkaW5nOiAgY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAxKVxuICAgICAgICAgICAgICBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDEpXG4gICAgICAgICAgICAgIGNhbGModmFyKC0tYmFzZWxpbmUpICogMSlcbiAgICAgICAgICAgICAgY2FsYyh2YXIoLS1iYXNlbGluZSkgKiAxKTtcblxuICAgICYgLkV4YW1wbGVfX2ltYWdlV3JhcHBlciB7XG4gICAgICBtYXgtaGVpZ2h0OiBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDE1KTtcbiAgICB9XG4gIH1cblxuXG5cbi8qKiBXRUJQQUNLIEZPT1RFUiAqKlxuICoqIC8uL3NyYy9jb21wb25lbnRzL0V4YW1wbGUvRXhhbXBsZS5jc3NcbiAqKi8iLCJAaW1wb3J0ICcuLi8uLi9zdHlsZXMvdmFyaWFibGVzLmNzcyc7XG5cbi5LZXl3b3JkVmlldyB7XG4gIC8qKi9cbn1cblxuXG5cblxuLyoqIFdFQlBBQ0sgRk9PVEVSICoqXG4gKiogLy4vc3JjL2NvbXBvbmVudHMvS2V5d29yZFZpZXcvS2V5d29yZFZpZXcuY3NzXG4gKiovIiwiQGltcG9ydCAnLi4vLi4vc3R5bGVzL3ZhcmlhYmxlcy5jc3MnO1xuXG4uS2V5d29yZEV4YW1wbGVMaXN0IHtcbiAgYmFja2dyb3VuZDogY29sb3IodmFyKC0tY29sb3JCb3JkZXIpIGFscGhhKC03NSUpKTtcbiAgZGlzcGxheTogZmxleDtcblxuICAmX19rZXl3b3JkIHtcbiAgICBmbGV4OiAxO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcblxuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XG4gIH1cblxuICAmX19leGFtcGxlcyB7XG4gICAgZmxleDogNztcbiAgfVxufVxuXG5cblxuLyoqIFdFQlBBQ0sgRk9PVEVSICoqXG4gKiogLy4vc3JjL2NvbXBvbmVudHMvS2V5d29yZEV4YW1wbGVMaXN0L0tleXdvcmRFeGFtcGxlTGlzdC5jc3NcbiAqKi8iLCJAaW1wb3J0ICcuLi8uLi9zdHlsZXMvdmFyaWFibGVzLmNzcyc7XG5cbi5RdWVyeVZpZXcge1xuICBwYWRkaW5nOiBjYWxjKHZhcigtLWJhc2VsaW5lKSAqIDIpO1xufVxuXG5cblxuLyoqIFdFQlBBQ0sgRk9PVEVSICoqXG4gKiogLy4vc3JjL2NvbXBvbmVudHMvUXVlcnlWaWV3L1F1ZXJ5Vmlldy5jc3NcbiAqKi8iLCJAaW1wb3J0ICcuLi8uLi9zdHlsZXMvdmFyaWFibGVzLmNzcyc7XG5cbi5UaXRsZSB7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG5cbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgY29sb3I6ICM2OUEzREU7XG59XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvY29tcG9uZW50cy9UaXRsZS9UaXRsZS5jc3NcbiAqKi8iLCJAaW1wb3J0ICdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3BlbitTYW5zOjMwMCw0MDAsNjAwLDcwMCw4MDAnO1xuQGltcG9ydCAnLi92YXJpYWJsZXMuY3NzJztcblxuOmdsb2JhbCgqKSB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbn1cblxuOmdsb2JhbCgqKSxcbjpnbG9iYWwoKjo6YmVmb3JlKSxcbjpnbG9iYWwoKjo6YWZ0ZXIpIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuOmdsb2JhbChodG1sKSxcbjpnbG9iYWwoYm9keSkge1xuICBoZWlnaHQ6IDEwMCU7XG59XG5cbjpnbG9iYWwoYm9keSkge1xuICBmb250LWZhbWlseTogdmFyKC0tZm9udEZhbWlseSk7XG4gIGZvbnQtc2l6ZTogdmFyKC0tZm9udFNpemVEZWZhdWx0KTtcbiAgbGluZS1oZWlnaHQ6IDEuNTtcbn1cblxuOmdsb2JhbChpbnB1dCksXG46Z2xvYmFsKHRleHRhcmVhKSxcbjpnbG9iYWwoYnV0dG9uKSB7XG4gIGZvbnQ6IGluaGVyaXQ7XG4gIGxpbmUtaGVpZ2h0OiBpbmhlcml0O1xuXG4gIGNvbG9yOiBpbmhlcml0O1xuXG4gIGJvcmRlcjogbm9uZTtcbiAgYmFja2dyb3VuZDogbm9uZTtcbn1cblxuOmdsb2JhbChidXR0b24pIHtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuXG46Z2xvYmFsKHRleHRhcmVhKSB7XG4gIHJlc2l6ZTogdmVydGljYWw7XG59XG5cbjpnbG9iYWwoaDEpLFxuOmdsb2JhbChoMiksXG46Z2xvYmFsKGgzKSxcbjpnbG9iYWwoaDQpLFxuOmdsb2JhbChoNSksXG46Z2xvYmFsKGg2KSxcbjpnbG9iYWwoc21hbGwpIHtcbiAgZm9udDogaW5oZXJpdDtcbiAgbGluZS1oZWlnaHQ6IGluaGVyaXQ7XG59XG5cblxuXG4vKiogV0VCUEFDSyBGT09URVIgKipcbiAqKiAvLi9zcmMvc3R5bGVzL3Jlc2V0LmNzc1xuICoqLyJdLCJtYXBwaW5ncyI6IkFBRUE7QUFDQTtBQUNBO0FBQUE7QUFBQTtBQUNBO0FBQUE7QUFBQTtBQU1BO0FBQ0E7QUFMQTtBQUNBO0FBQUE7QUFBQTtBQUNBO0FBQ0E7QUFDQTtBQUVBO0FBQ0E7QUFBQTtBQUFBO0FBQ0E7QUFBQTtBQUNBO0FBQUE7QUFDQTtBQUFBO0FBaUJBO0FBQ0E7QUFoQkE7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFBQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7OztBQUdBO0FBSEE7OztBQUdBO0FBQ0E7QUMvQkE7QUFDQTtBQUNBO0FBREE7QUFDQTtBQUNBO0FBQ0E7QUFpQkE7QUFkQTtBQUNBO0FBQ0E7QUFFQTtBQUNBO0FBQ0E7QUFDQTtBQUFBO0FBQ0E7QUFLQTtBQUhBO0FBQ0E7QUFDQTtBQ25CQTtBQUNBO0FBQUE7QUFDQTtBQ0ZBO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFDQTtBQUFBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFEQTtBQUNBO0FBQUE7QUFDQTtBQUNBO0FBQUE7QUFXQTtBQUNBO0FBWEE7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUFBO0FBQ0E7QUFFQTtBQUNBO0FBQUE7QUFDQTtBQ3BCQTtBQUNBO0FBQUE7QUFDQTtBQ0ZBO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFDQTtBQUFBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFEQTtBQUNBO0FBQUE7QUFDQTtBQUNBO0FBQUE7QUFDQTtBQVlBO0FBQ0E7QUFYQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQUE7QUFDQTtBQUVBO0FBQ0E7QUFBQTtBQUNBO0FDdEJBO0FBQ0E7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQUFBO0FBQ0E7QUFBQTtBQUFBO0FBWUE7QUFWQTtBQUNBO0FBQUE7QUFBQTtBQUNBO0FBQUE7QUFBQTtBQUNBO0FBQUE7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQUVBO0FBQ0E7QUFDQTtBQ2ZBO0FBQ0E7QUFDQTs7O0FBR0E7QUFIQTs7O0FBR0E7QUFDQTtBQUNBO0FBQ0E7QUFEQTtBQUNBO0FBQUE7QUF1QkE7QUFDQTtBQXRCQTtBQUNBO0FBQUE7QUFDQTtBQUVBO0FBQUE7QUFDQTtBQUFBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUVBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFBQTtBQUNBO0FBQ0E7QUFDQTtBQUFBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7OztBQUdBO0FBSEE7OztBQUdBO0FBS0E7QUFDQTtBQUpBO0FBQ0E7QUFBQTtBQUNBO0FDeENBO0FBQ0E7QUFDQTtBQUNBO0FDSEE7QUFDQTtBQUNBO0FBQUE7QUFBQTtBQWNBO0FBWkE7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQUFBO0FBQUE7QUFFQTtBQUNBO0FBRUE7QUFDQTtBQUFBO0FBQUE7QUFDQTtBQ2ZBO0FBQ0E7QUFBQTtBQUNBO0FDRkE7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FDSkE7QUFDQTtBQUNBO0FBQ0E7QUFFQTs7O0FBR0E7QUFDQTtBQUVBOztBQUVBO0FBQ0E7QUFFQTtBQUNBO0FBQ0E7QUFBQTtBQUNBO0FBQ0E7QUFFQTs7O0FBR0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUNBO0FBQ0E7QUFDQTtBQUVBO0FBQ0E7QUFDQTtBQUVBO0FBQ0E7QUFDQTtBQUVBOzs7Ozs7O0FBT0E7QUFDQTtBQUNBOyIsInNvdXJjZVJvb3QiOiIifQ==*/