@import '../../styles/variables.css';

.Summary {
  /**/

  &__header {
    padding: calc(var(--baseline) / 2);
  }

  &__body {
    padding: calc(var(--baseline) / 2);
  }
}

.sHeader {
  flex: 1;
  display: flex;
  justify-content: center;

  &__counter {
    font-size: calc(var(--baseline) * 3);
    font-weight: 300;
    color: var(--colorAccent2);
  }

  &__body {
    font-size: var(--fontSizeSmall);
    font-weight: 600;
    color: var(--colorText1);
  }
}

.sChart {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-start;

  &__title {
    font-size: var(--fontSizeSmall);

    text-align: center;
  }

  &__canvas {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    min-height: calc(var(--baseline) * 5);
  }
}
