@import '../../styles/variables.css';

.CloseupView {
  position: absolute;
  z-index: 1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-items: space-between;
  padding: 0 calc(var(--baseline) * 4);

  background: color(white alpha(-3%));

  &__image {
    flex: 1;
    max-height: 100%;
    overflow: auto;
    padding: calc(var(--baseline) * 2) 0;
  }

  &__body {
    flex: 1;
  }

  &__imgDescription {
    font-size: calc(var(--baseline) * 3);
    line-height: 1.5;
    font-weight: 300;
  }

  &__imgQueryText {
    font-size: 1rem;
  }

  &__imgQuery {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
  }

  &__close {
    position: absolute;
    top: var(--baseline);
    right: var(--baseline);
    width: calc(var(--baseline) * 4);
    height: calc(var(--baseline) * 4);

    &:before {
      position: absolute;
      top: 0; left: 0;
      display: block;
      content: '\00D7';
      width: calc(var(--baseline) * 4);
      height: calc(var(--baseline) * 4);

      font-size: calc(var(--baseline) * 4);
      font-weight: 300;
      line-height: calc(var(--baseline) * 4);

      text-align: center;
    }

    &:focus {
      outline: none;
    }
  }

  &__img {
    margin: 0 auto;
    max-width: calc(var(--baseline) * 40);
    box-shadow: 0 0 50px color(var(--colorBgDark) alpha(-25%));
    display: block;
    max-width: 100%;
  }

  &__nav {
    display: block;
    position: relative;
    width: calc(var(--baseline) * 3);
    height: calc(var(--baseline) * 4);

    &:before {
      display: block;
      position: absolute;
      left: 0; top: 0;
      width: calc(var(--baseline) * 3);
      height: calc(var(--baseline) * 4);

      font-size: calc(var(--baseline) * 4);
      font-weight: 400;
      line-height: calc(var(--baseline) * 4);

      text-align: center;
    }

    &:focus {
      outline: none;
    }
  }
    &__nav_left:before {
      content: '\27E8';
    }
    &__nav_right:before {
      content: '\27E9';
    }
}
