@import '../../styles/variables.css';

.Example {
  padding:  calc(var(--baseline) * 1.5)
            calc(var(--baseline) * 1.5)
            calc(var(--baseline) * 1.5)
            calc(var(--baseline) * 1.5);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  overflow: hidden;

  &__imageWrapper {
    display: block;
    position: relative;
    max-height: calc(var(--baseline) * 28);
    overflow: hidden;

    transition-property: opacity;
    transition-duration: 0.1s;

    transition-property: box-shadow;
    transition-duration: 0.2;
    box-shadow: 0 0 0 var(--colorAccent2);
    border: 1px solid var(--colorBorder);

    &:hover {
      & .Example__descriptionOverlay {
        top: 0;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__descriptionOverlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 100%;
    left: 0; right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;

    transition-property: top;
    transition-duration: 0.2s;
  }

  &__description {
    padding: calc(var(--baseline) / 4) calc(var(--baseline));
    font-size: var(--fontSizeMed);
    color: white;
    background: color(#000 alpha(-20%));
  }
}
  .Example_dimmed {
    opacity: 0.05;
  }
  /*.Example_highlighted {
    & .Example__imageWrapper {
      box-shadow: 0 0 10px 0 color(black alpha(-50%));
    }
  }*/
  .Example_focused {
    & .Example__imageWrapper {
      box-shadow: 0 0 10px 0 color(black alpha(-50%));
    }
  }
