@import '../../styles/variables.css';

.TaskDescription {
  padding: calc(var(--baseline) * 2);

  &__body {
    text-align: justify;
    position: relative;
  }

  &__main {
    /**/
  }

  &__query {
    position: absolute;
    z-index: 0;
    top: 0; left: 0;
    color: transparent;

    & em {
      font-style: normal;
    }
  }
}
