@import '../../styles/variables.css';

.BackHistory {
  &__type {
    font-size: calc(var(--baseline) * 1.333);
    font-weight: 300;

    color: #a7a7a7;
  }

  &__query {
    width: 100%;

    font-size: 1rem;

    color: #444444;
  }
}
