@import '../../styles/variables.css';

.SummaryContainer {
  &__count {
    width: 75px;
    text-align: center;

    font-size: 20px;
    font-weight: 300;
  }

  &__text {
    color: #dadada;
    font-size: 16px;
  }
}
